// TODO improve this shit

.color-red {
  color: red;
}

.color-orange {
  color: orange;
}

:root {
  --bold-border-color: darkgray;
  --bold-border-size: 2px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.task {
  background-color: green;
}

.task:hover {
  background-color: darkgreen;
}

.header>th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.bold-border > tr {

  &>*:first-child {
    border-left-width: 2px;
    border-left-color: darkgray;
  }

  &>* {
    border-top-width: 2px;
    border-top-color: darkgray;
    border-bottom-width: 2px;
    border-bottom-color: darkgray;
  }

  &>*:last-child {
    border-right-width: 2px;
    border-right-color: darkgray;
  }
}

.bold-border-left {
  border-left-width: 2px;
  border-left-color: darkgray;
}

.bold-border-right {
  border-right-width: 2px;
  border-right-color: darkgray;
}

.bold-border-top {
  border-top-width: 2px;
  border-top-color: darkgray;
}

.bold-border-bottom {
  border-bottom-width: 2px;
  border-bottom-color: darkgray;
}

.selected {
  background-color: #00b0f0;
}

.not-visible {
  visibility: hidden;
  height: 1px;
  width: 1px;
  display: block;
  float: right;
}